body {
    margin: 0;
    min-width: 960px;   
} 
.top {
    background-color: #E1DCDC;
}
header {
    width: 960px;
    margin: 0 auto;            
}
.logo {
    text-align: center;
    padding: 10px 0;
}
.logo>img {
    padding: 10px 0;
}
.bgcolor {
    background: -webkit-repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
    background: -o-repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
    background: repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
}
h1 {
    text-align: center;
    padding: 30px;
    margin-top: 0;
    border-bottom: ridge 2px;
}
.roginInfo {
    width: 710px;
    margin: 0 auto;
}
.roginInfo p {
    padding: 30px 0;
}
.roginInfo a {
    text-decoration: none;
    color: #008BBB;
    transition: 0.2s;   
}
.roginInfo a:hover {
    color: #FF69A3;
}
.userBorder {
    border: ridge 4px;
}
.user {
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;    
}
.user2 {
    width: 350px;
    text-align: center;
}
.user3 {
    width: 350px;
    line-height: 64px;   
}
.Button {
   display: flex;
   justify-content: space-around;
   padding: 40px 0;
}
.button {
    border-radius: 10%;
    font-size: 16px;
    background-color: #DCDCDC;
    box-shadow: 2px 2px 2px #A9A9A9;
    transition    : 0.3s;      
}
.button:hover {
    box-shadow    : none;     
    opacity       : 1;    
}
.rink {
    padding: 30px 0;
    text-align: right;
}