body {
    margin: 0;
    min-width: 960px;
}
.top { 
    background-color: #E1DCDC;
}

/* .bgcolor {
    background: -webkit-repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
    background: -o-repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
    background: repeating-linear-gradient(-45deg,#EEEEEE 0,#EEEEEE 2px,#fff 2px,#fff 20px);
} */
.registerText {
    width: 710px;
    margin: 0 auto;
}
.registerText p {
    text-align: center;
    padding-top: 40px;
}

.registerText a:hover {
    color: #FF69A3;
}
